<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style.css') }}">
    <title>Inicio de Sesión</title>
</head>
<body>

    <header class="barra_superior">
        <div class="logo">
            <h2>📖 Librería Pro</h2>
        </div>
    </header>

    <main class="imagen">

        <div id="bienvenida">
            <h1>Bienvenido a nuestra Librería</h1>
            <h3>¿Quién iniciará sesión?</h3>
        <div class="botones">
            <a href="{{ url_for('login_page', rol='administrador') }}" class="btn-link">
                <button type="button">Administrador</button>
            </a>

            <a href="{{ url_for('login_page', rol='empleado') }}" class="btn-link">
                <button type="button">Empleado</button>
            </a>
        </div>
        </div>
    </main>

    <footer class="barra_inferior">
        <p>© 2026 Librería Pro. Todos los derechos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='funcionesjs/script.js') }}"></script>
</body>
</html>